/* COMMONS */

img {
    max-width: 100%;
}

/* font */
body {
    font-family: Arial, sans-serif;
}

header {
    font-family: Helvetica, arial, sans-serif;
}



/* header */
/* top */
.ms_header_top {
    text-align: right;
    background-color: black;
}

.ms_header_top img {
    width: 7.5rem;
    padding: 0.75rem;
}

/* bot */
.ms_header_bot {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

#ps_logo {
    padding-left: 0.5rem;
}

.ms_header_bot ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.ms_header_bot li {
    padding: 0 0.5rem;
    line-height: 4rem;
    font-size: 1rem;
    font-weight: 600;
}

.ms_header_bot li img {
    width: 0.5rem;
}

.ms_nav_left {
    display: flex;
}

.burger {
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 1px solid grey;
    align-self: center;
}

.burger i {
    font-size: 1.5rem;
}

/* button */ 
#ms_btn_header {
    line-height: normal;
    align-self: center;
}

.ms_btn_login {
    background-color: #363636;
    border-radius: 1.5rem;
    color: white;
    padding: 0.75rem;
}

.ms_btn_login a {
    text-decoration: none;
    color: inherit;
}

ul .ms_src_lens {
    padding: 0 1.5rem;
}
ul .ms_src_lens img {
    width: 2rem;
}

/* main */ 

/* jumbotron */
.ms_jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 6.5rem;
    height: calc(100vh - 6.5rem);
    color: white;
}  

.ms_jumbotron a {
    text-decoration: none;
    color: inherit;
}

.ms_j_height {
    height: calc(100vh - 6.5rem);
    padding-bottom: 3rem;
}

/* first section */
#ms_first_section {
    margin: 5rem 0;
}

#ms_first_section img {
    border-radius: 1rem;
}

/* 2nd section */

/* 3rd section */

/* 4th section */

/* 5th section */
#ms_5th_section {
    /* height: calc(100vh - 6.5rem); */
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 0;
    color: white;
}

/* 6th section */
#ms_6th_section {
    color: white;
    background-color: #1f1f1f;
}

#ms_6th_section img {
    border-radius: 1rem;
}

/*  7th section */

/* 8th section */
#ms_8th_section {
    background-color: #bebcbb;
}

/* 9th section */

/* 10th section */
#ms_10th_section {
    background-color: #161c3b;
    color: white;
}

/* 11th section */